* {
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0 10%;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: white;
}
a {
  color: inherit;
  text-decoration: none;
}
.logo {
  color: #00b5ff;
  font-size: 3rem;
}
.App {
  display: flex;
  width: 100%;
}
.loginWrap {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 100vh;
  z-index: 99;
  background: whitesmoke;
}
.login {
  width: 40%;
  /* width: 390px; */
  height: 500px;
  padding: 1rem 0;
  background-color: white;
  margin: 5rem auto;
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
  align-items: center;
}

.login-btn{
  cursor: pointer;
  display: flex;
  gap: 1rem;
  padding: 0.25rem 1rem;
  justify-content: center;
  align-items: center;
  border: 1px solid #ccc;
  width: 350px;
  height: 3rem;
  font-size: 1.25rem;
  font-weight: 500;
}
.login div img{
  width: auto;
  height: 100%;
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
button{
  border: none;
  cursor: pointer;
  background-color: inherit;
}
#tweetIMGInput {
  display: none;
}
label {
  cursor: pointer;
}
#tweetIMGLabel{
  font-size: 1.5rem;
  padding: 0 0.5rem;
  border-radius: 40%;
}
#tweetIMGLabel:hover{
  background-color: rgba(0, 181, 255, 0.2); 
}
#hd-menu{
  display: none;
}
.header {
  width: 24%;
  font-size: 2rem;
  text-align: center;
  padding: 1.5rem 0;
  transition: 0.4s;
}
.header ul li{
  margin: 0.5rem 0;
}
.navItem {
  padding: 0 1rem;
  cursor: pointer;
}
.navItem:hover {
  background-color: gainsboro;
  border-radius: 20px;
}
main {
  width: 76%;
  border-left: 1px solid lightgray;
  border-right: 1px solid gray;
}
.flex-btw {
  display: flex;
  justify-content: space-between;
}
.tweet-option{
  display: flex;
  justify-content: space-between;
  position: relative;
  z-index: 0;
}
.prevIMG{
  position: absolute;
  top: 0;
  left: 20%;
}
.prevIMG img{
  width: auto;
  height: 40px;
}
.tweet {
  font-size: 1.25rem;
  display: flex;
  padding: 1.5rem 2% 0rem ;
  gap: 1rem;
  border-bottom:  double darkgray; 
}
.Btn-hide{
  display: none;
}
.profilePic {
  object-fit: cover;
  object-position: center;
  width: 50px;
  height: 50px;
  border-radius: 50%;
}
.Sec1 {
  width: 50px;
  
  overflow: hidden;
}
.Sec2 {
 width: calc(100% - 66px);
}
.tweetOptions {
  display: flex;
  gap: 1rem;
  color: darkslategrey;
}
.tweetIMG {
  max-width: 100%;
  max-height: 499px;
  border-radius: 15px;
}
.tweet-form{
  padding-right: 3%;
  margin-bottom: 0.5rem;
}
textarea {
  display: block;
  width: 100%;
  font-size: 1.25rem;
  resize: none;
  padding: 0.5rem;
  margin-bottom: 0.5rem;
  border: 1px solid lightgray;
  border-width: 0 0 1px;
}
textarea:focus {
  border: 1px solid gray;
  border-width: 0 0 1px;
  outline: none;
}
.profile-top{
  display: flex;
  padding: 2% 4%;
  gap: 3rem;
}
.box-wrap {
  position: relative;
  z-index: 0;
  width: 20%;
  height: 0;
  overflow: hidden;
  padding-bottom: 20%;
}
.box-wrap .box {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 50%;
}
#porfileIMGLabel{
  display: none;
  position: absolute;
  top: calc(50% - 12px);
  left: calc(50% - 12px);
  z-index: 99;
  font-size: 1.5rem;
  color: white;
}
.box-wrap:hover #porfileIMGLabel{
  display: block;
}
.box-wrap:hover .box{
  filter: brightness(0.5);
}
#proileNameInput{
  font-size: 1rem;
}
.boxBtn{
  font-size: 1rem;
  cursor: pointer;
  padding: 0.25rem 0.5rem;
  border-radius: 10px;
  border: 1px solid lightgray;
  font-weight: 400;
}
.boxBtn:hover{
  border: 1px solid gray;
}
.black-btn{
  cursor: pointer;
  background-color: black;
  border: 1px solid black;
  color: white;
  font-size: 1rem;
  padding: 0.25rem 0.75rem;
  border-radius: 10px;
  font-weight: 500;
  margin-left: 0.5rem;
}
.blue-btn{
  cursor: pointer;
  color: white;
  font-size: 1rem;
  background-color: #00b5ff;
  padding: 0.5rem 1rem;
  border-radius: 15px;
  font-weight: bold;
  opacity: 0.65;
}
.blue-btn:hover{
  opacity: 1;
}
.text-end{
  text-align: end;
}
.mt-1{
  margin-top: 1rem;
}
.mr-8p{
  margin-right: 0.5rem;
}
.ml-1{
  margin-left: 1rem;
}
.m05{
  margin: 0.5rem 0;
}
.mb-1{
  margin-bottom: 1rem;
}
.date{
  font-size: 1rem;
  color: dimgray;
}

@media screen and (max-width:1023px) {
  body{
    padding: 0;
  }
  .header{
    width: 13%;
  }
  .navItem-name{
    display: none;
  }
  main{
    width: 87%;
  }
}
@media screen and (max-width:500px) {
  .app{
    display: block;
  }
  main{
    padding-top: 51px;
  }
  .navItem-name{
    display: inline;
  }
  main{
    width: 100%;
  }
  #hd-menu{
    display: block;
    position: absolute;
    top: 5px;right: 5px;
    padding: 0.25rem 0.5rem;
    background-color: whitesmoke;
  }
  .header{
    padding: 0;
    width: 100%;
    position: fixed;
    top: 0;left: 0;
    background-color: white;
    font-size: 1.5rem;
    z-index: 2;
    border-bottom: 1px solid lightgray;
  }
  #header-show{
    display: block;
  }
  #header-hide{
    display: none;
  }
  
}